{% comment %} LinkedIn slide 3, square equivalent of story/how-it-works.html. {% endcomment %}
<div class="story story--offwhite story--sq">
  <div class="story__inner">
    {% include story/dots.html %}
    <p class="story-eyebrow">HOW IT WORKS</p>
    <p class="story-body">I host at my place in Geneva, usually around <em>six people</em> and a few bottles. The only cost is the wine, shared equally. Open to <em>friends and friends of friends</em>.</p>
    <hr class="story-rule" style="margin: 30px 0;">
    <p class="story-body">Evenings are planned as we go. There&rsquo;s a small planner on the website where you can <em>discover what&rsquo;s coming</em>, suggest a topic, or secure your spot.</p>
    {% include story/linkbar.html %}
  </div>
</div>
